.app {
  height: 100%;
  background-color: #3675FF;
}

/* For website header */

.header-container {
  padding: 10px;
  height: 100px;
  width: 100%;
  text-align: center;
}

.website-name {
  font-size: 50px;
}

.white {
  color: white;
}

/* For pixel editor panel */

.pixel-body-left {
  float: left;
  width: 50%;
  height: calc(100% - 100px);
  padding: 20px;
}

/* For pixel viewer container*/

.pixel-body-right {
  float: right;
  width: 50%;
  height: calc(100% - 100px);
  position: relative;
}

.pixel-container-inner {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.1);
}


/* Color Pickers */


.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.active-color {
  background-color: black;
  width: 40px;
  height: 30px;
}

.active-color-container {
  background-color: white;
  width: 46px;
  height: 36px;
  padding: 3px;
}

/* Selected pixels */

.selected-pixel {
  border-style: dashed;
  border-width: 3px;
  border-color: white;
}
