.app {
  height: 100%;
  background-color: #3675FF;
}

/* For website header */

.header-container {
  padding: 10px;
  height: 100px;
  width: 100%;
  text-align: center;
}

.website-name {
  font-size: 50px;
}

.white {
  color: white;
}

/* For pixel editor panel */

.pixel-body-left {
  float: left;
  width: 50%;
  height: calc(100% - 100px);
  padding: 20px;
}

/* For pixel viewer container*/

.pixel-body-right {
  float: right;
  width: 50%;
  height: calc(100% - 100px);
  position: relative;
}

.pixel-container-inner {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.1);
}


/* Garbage */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
